<mat-form-field *ngIf="!loading">
  <mat-select [(ngModel)]="module" (selectionChange)="selectModule($event)" placeholder="Module" required="required">
    <mat-option [value]="'new'">Create Module</mat-option>
    <mat-option *ngFor="let m of modules | orderByImpure: 'moduleName'" [value]="m">
      {{ m.moduleName }}
    </mat-option>
  </mat-select>
</mat-form-field>
<div *ngIf="loading">Loading modules...
  <div class="spinner">
    <mat-spinner [diameter]="13"></mat-spinner>
  </div>
</div>
