<div class="container">
  <div class="col generator-card">
    <app-enum-form (generate)="save($event)" [loading]="loading"></app-enum-form>
  </div>
  <div class="col" *ngIf="enumPath">
    <mat-card>
      <mat-card-content>
        <h2>Preview</h2>

        <fs-label-field>
          <fs-label>File</fs-label>
          {{ enumPath }}
        </fs-label-field>

        <fs-label-field>
          <fs-label>Code</fs-label>
          <app-generator-code [code]="code"></app-generator-code>
        </fs-label-field>

      </mat-card-content>
    </mat-card>
  </div>
</div>
