.container {
  display: flex;

  .col {
    padding: 10px;
    display: inline-block;
  }

  .generator-card {
    width: 500px;
  }

  .result-card {
    min-height: 100px;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &* {
   width: 100%;
  }

  .group {
    display: flex;
    flex-direction: row;

    mat-form-field {
      flex: 50%;
      width: 100%;

      &:first-child {
        margin-right: 10px;
      }
    }
  }
}

.spinner {
  display: inline-block;
  margin-left: 20px;
}

