<div class="container">
  <h2 mat-dialog-title> Create Service </h2>
    <!--<form>-->
  <div class="form">
      <app-modules-list
        [(module)]="model.module"
        (moduleChange)="moduleChanged($event)"
        [modules]="data.modules"
        required="true"></app-modules-list>

      <mat-form-field *ngIf="!hidePath">
        <mat-select [(ngModel)]="model.subdirectory" placeholder="Path">
          <mat-option [value]="'/services'">/services</mat-option>
          <mat-option [value]="'/shared/services'">/shared/services</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Singular Name"
               [(ngModel)]="model.singularName"
               (ngModelChange)="changedSingularName()">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Plural Name"
               [(ngModel)]="model.pluralName"
               (blur)="onPluralNameBlur()">
      </mat-form-field>
    <!--</form>-->
  </div>
  <button mat-raised-button color="primary" (click)="generate()">CREATE</button>
  <button mat-button mat-dialog-close>CANCEL</button>
</div>
