<ng-container *ngIf="!loading">
  <fs-autocomplete
    [fetch]="fetch"
    [fetchOnFocus]="true"
    [ngModel]="service"
    [displayWith]="displayWith"
    placeholder="Enum"
    (ngModelChange)="selectEnum($event)"
    [required]="true"
    name="model">
    <ng-template fsAutocompleteTemplate let-data="data">
      <span>{{ data.name }}</span>
    </ng-template>

  </fs-autocomplete>

</ng-container>
<div *ngIf="loading">Loading services...
  <div class="spinner">
    <mat-spinner [diameter]="13"></mat-spinner>
  </div>
</div>
