<div class="container">
  <div class="col generator-card">
    <app-component-generator-form
      (formChanged)="formDataChange($event)"
      (generate)="generate()">
    </app-component-generator-form>
  </div>
  <div class="col">
    <mat-card class="result-card">
      <mat-tab-group [selectedIndex]="activeTab">
        <mat-tab label="Result Preview">
          <generator-preview [params]="formData"></generator-preview>
        </mat-tab>
        <mat-tab label="Logs">
          <generator-logs [logs]="resultLogs"></generator-logs>
        </mat-tab>
        <!--<mat-tab label="Code">
          <ng-container *ngIf="formData">
            <generator-code [model]="formData.singularModelName"
                            [component]="formData.componentName"
                            [pattern]="formData.interfacePattern"></generator-code>
          </ng-container>
        </mat-tab>-->
      </mat-tab-group>
    </mat-card>
  </div>
</div>
