<form class="form" (ngSubmit)="submit()" #moduleForm="ngForm">
  <mat-card>
    <mat-card-content>
      <app-modules-list [(ngModel)]="model.module" name="module"></app-modules-list>

      <mat-form-field>
        <mat-select [(ngModel)]="model.interfacePattern"
                    (selectionChange)="interfacePatterChanged()"
                    placeholder="Pattern"
                    name="interfacePattern"
                    required
        >
          <mat-option [value]="'basic'">Basic Component</mat-option>
          <mat-option [value]="'list'">List</mat-option>
          <mat-option [value]="'list-create-edit'">List, Create&Edit</mat-option>
          <mat-option [value]="'create-edit'">Create&Edit</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select [(ngModel)]="model.componentType"
                    placeholder="Component Type"
                    name="componentType"
                    required
        >
          <mat-option [value]="'component'">Component</mat-option>
          <mat-option [value]="'view'">View</mat-option>
        </mat-select>
      </mat-form-field>


      <ng-container *ngIf="model.interfacePattern === 'basic'">
        <h2>Component</h2>
      </ng-container>

      <ng-container *ngIf="hasListInterface">
        <h2>List Component</h2>
      </ng-container>

      <mat-form-field>
        <input matInput
               [(ngModel)]="model.componentName"
               placeholder="Component Name"
               name="componentName"
               #componentName="ngModel"
               required>
        <mat-error *ngIf="componentName.invalid"> Component Name is required </mat-error>
      </mat-form-field>

      <ng-container *ngIf="hasCreateEditInterface">
        <h2>Create & Edit Component</h2>
      </ng-container>

      <ng-container *ngIf="hasCreateEditInterface">
        <mat-form-field>
          <input matInput
                 [(ngModel)]="model.createEditComponentName"
                 placeholder="Name"
                 name="createEditComponentName"
                 #createEditComponentName="ngModel"
                 required="!isBasicPattern"
          >
          <mat-error *ngIf="createEditComponentName.invalid"> Name is required </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select [(ngModel)]="model.createEditInterfacePattern"
                      placeholder="Interface"
                      name="createEditInterfacePattern"
                      required
          >
            <mat-option [value]="'full'">Page</mat-option>
            <mat-option [value]="'dialog'">Dialog</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>


      <ng-container *ngIf="hasListInterface || hasCreateEditInterface">
        <h2>Model & data</h2>
        <app-services-list [(ngModel)]="model.service"
                           [services]="services"
                           name="service">
        </app-services-list>

        <ng-container *ngIf="hasListInterface">
          <mat-form-field>
            <input matInput
                   [(ngModel)]="model.singularModelName"
                   placeholder="Singular Model Name"
                   name="singularModelName"
                   #singularModelName="ngModel"
                   required="!isBasicPattern"
            >
            <mat-error *ngIf="singularModelName.invalid"> Singular Model Name is required </mat-error>
          </mat-form-field>


          <mat-form-field>
            <input matInput
                   [(ngModel)]="model.pluralModelName"
                   placeholder="Plural Model Name"
                   name="pluralModelName"
                   #pluralModelName="ngModel"
                   required="true">
            <mat-error *ngIf="pluralModelName.invalid"> Plural Model Name is required </mat-error>
          </mat-form-field>
        </ng-container>

      </ng-container>

      <!--<div class="group">
        <mat-form-field *ngIf="model.interfacePattern && isCreateEditList">
          <input matInput
                 [(ngModel)]="model.singularComponentName"
                 (ngModelChange)="changedSingularComponent()"
                 placeholder="Singular Component Name"
                 name="singularComponentName" #singularComponentName="ngModel" required>
          <mat-error *ngIf="singularComponentName.invalid"> Singular Component Name is required </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="model.interfacePattern !== null && !isCreateEdit">
          <input matInput
                 [(ngModel)]="model.pluralComponentName"
                 (ngModelChange)="changedPluralComponent()"
                 placeholder="Component Name"
                 name="componentName" #componentName="ngModel" required>
          <mat-error *ngIf="componentName.invalid"> Component Name is required </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="model.interfacePattern !== null && isCreateEdit">
          <input matInput
                 [(ngModel)]="model.singularComponentName"
                 (ngModelChange)="changedSingularComponent()"
                 placeholder="Component Name"
                 name="componentName" #componentName="ngModel" required>
          <mat-error *ngIf="componentName.invalid">Component Name is required </mat-error>
        </mat-form-field>
      </div>

      <app-services-list *ngIf="!isBasicPattern"
                         [(service)]="model.service"
                         [services]="services"
                         [modules]="modules"></app-services-list>

      <div class="group" *ngIf="model.service && !isBasicPattern">
        <mat-form-field *ngIf="isCreateEdit">
          <input matInput
                 [(ngModel)]="model.singularModelName"
                 placeholder="Model Name"
                 name="singularModelName" #ModelName="ngModel" required="!isBasicPattern">
          <mat-error *ngIf="ModelName.invalid"> Model Name is required </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="!isCreateEdit">
          <input matInput
                 [(ngModel)]="model.singularModelName"
                 (ngModelChange)="changedSingularModel()"
                 placeholder="Singular Model Name"
                 name="singularModelName" #singularModelName="ngModel" required="!isBasicPattern">
          <mat-error *ngIf="singularModelName.invalid"> Singular Model Name is required </mat-error>
        </mat-form-field>


        <mat-form-field *ngIf="!isCreateEdit">
          <input matInput
                 [(ngModel)]="model.pluralModelName"
                 (blur)="onPluralModelBlur()"
                 placeholder="Plural Model Name"
                 name="pluralModelName" #pluralModelName="ngModel" required="!isCreateEdit && !isBasicPattern">
          <mat-error *ngIf="pluralModelName.invalid"> Plural Model Name is required </mat-error>
        </mat-form-field>-->

    <!--  </div>-->
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary"
              [disabled]="moduleForm.invalid">GENERATE</button>
      <div class="spinner" *ngIf="loading">
        <mat-spinner [diameter]="22"></mat-spinner>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
