<h2>Names</h2>
<div class="values-container" *ngIf="enumData">
  <fs-label-field>
    <fs-label>
      Enum
    </fs-label>
    <ng-container *ngFor="let member of enumData.members">
      <div class="enum-item">
        {{ enumData.name }}.{{member}}
      </div>
    </ng-container>
  </fs-label-field>

  <fs-label-field>
    <fs-label>
      Name
    </fs-label>

    <ng-container *ngFor="let item of items; let index=index; trackBy: itemsTrackByFn">
      <mat-form-field>
        <input matInput (keyup)="setItemValue($event, index)" [ngModel]="item" required>
      </mat-form-field>
    </ng-container>
  </fs-label-field>
</div>
